@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css");
/* Import Bootstrap CDN */

html,
div {
  font-family: "Noto Sans", sans-serif;
}
nav {
  text-align: right;
}
.btn {
  margin: 1rem;
}

h1,
h3,
h4,
h5 {
  text-align: center;
}
h1 {
  display: block;
  background-color: #fffed5;
  padding: 1rem;
  margin: 0 auto;
  max-width: 65%;
  border-radius: 5px;
}
form {
  max-width: 80%;
  margin: 0 auto;
}
form .btn {
  display: block;
  margin: 0 auto;
}
#addProjectHeader {
  margin-bottom: 2rem;
}
