@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css");
/* Import Bootstrap CDN */

html,
div {
  font-family: "Noto Sans", sans-serif;
}
nav {
  text-align: right;
}
.btn {
  margin: 1rem;
}
h3 {
  color: red;
}
h1 {
  text-align: center;
}
